<div class="row footer box">
  <div class="col l4 footerlings">
    <p><%= link_to "Our Team", "#" %></p>
    <p><%= link_to "Our Team", "#" %></p>
    <p><%= link_to "Our Team", "#" %></p>
  </div>
  <div class="col l4 footerlings middle">&copy; RCP Consulting Group</div>
  <div class="col l4 footerlings">
    <p>Follow us on</p>
    <p><i class="fa fa-facebook-official"></i><%= link_to "Facebook", "#", class: "socials" %></p>
    <p><i class="fa fa-twitter-square"></i><%= link_to "Twitter", "#", class: "socials" %></p>
    <p><i class="fa fa-google-plus-square"></i><%= link_to "Google+ ", "#", class: "socials" %></p>
  </div>
</div>
</div>
