<div class="row footer box">
  <div class="col l4 footerlings">
    <p><%= link_to "Our Team", "#" %></p>
    <p><%= link_to "Our Team", "#" %></p>
    <p><%= link_to "Our Team", "#" %></p>
  </div>
  <div class="col l4 footerlings">&copy; RCP Consulting Group</div>
  <div class="col l4 footerlings">
    <p>Follow us on</p>
    <p><%= link_to "Facebook", "#" %></p>
    <p><%= link_to "Twitter", "#" %></p>
    <p><%= link_to "Google+", "#" %></p>
  </div>
</div>
</div>
