<%= render "partials/header" %>

<div class="row major-image">
  <div class="col l6 left-image">
    <%= image_tag "economic.jpeg", size: "600x500"%>
  </div>
  <div class="col l6 right-image">
    <div class="row top-image">
      <%= image_tag "panorama.jpg", size: "600x250"%>
    </div>
    <div class="row bottom-image">
      <div class="col l6 bottom-part">
        <%= image_tag "banner.jpg", size: "300x250" %>
      </div>
      <div class="col l6 bottom-part">
        <%= image_tag "banner.jpg", size: "300x250" %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col l4">Stroy Highlights</div>
  <div class="col l4">Main Story</div>
  <div class="col l4">Adverts &amp; Videos</div>
</div>
<%= render "partials/footer" %>
